[submodule "PyDP"]
	path = PyDP
	url = https://github.com/OpenMined/PyDP.git
[submodule "breaching"]
	path = breaching
	url = https://github.com/JonasGeiping/breaching.git
[submodule "HyperFL"]
	path = HyperFL
	url = https://github.com/Pengxin-Guo/HyperFL.git
